# Common flags for Clang
build:clang --action_env=CC=clang
build:clang --action_env=CXX=clang++
build:clang --action_env=BAZEL_COMPILER=clang

# Clang with libc++
build:libc++ --config=clang
build:libc++ --action_env=CXXFLAGS=-stdlib=libc++
build:libc++ --action_env=LDFLAGS=-stdlib=libc++
build:libc++ --action_env=BAZEL_CXXOPTS=-stdlib=libc++
build:libc++ --action_env=BAZEL_LINKLIBS=-lc++abi:-lc++
build:libc++ --define force_libcpp=enabled

# C++20
build:c++20 --cxxopt=-std=c++20

build --config=libc++ --config=c++20 --define absl=1

# Build with CI
build:ci --action_env=CC=/usr/lib/llvm-10/bin/clang
build:ci --action_env=CXX=/usr/lib/llvm-10/bin/clang++

# Basic ASAN/UBSAN that works for gcc
build:asan --linkopt -ldl
build:asan --copt -fsanitize=address,undefined
build:asan --linkopt -fsanitize=address,undefined
build:asan --test_env=ASAN_SYMBOLIZER_PATH
# These require libubsan, which is not linked properly by bazel, so disable.
# See https://github.com/google/oss-fuzz/issues/713
build:asan --copt -fno-sanitize=vptr,function
build:asan --linkopt -fno-sanitize=vptr,function

# Fuzzing builds
build:asan-fuzzer --config=asan
build:asan-fuzzer --define=FUZZING_ENGINE=libfuzzer
build:asan-fuzzer --copt=-fsanitize=fuzzer-no-link
build:asan-fuzzer --copt=-fno-omit-frame-pointer
build:asan-fuzzer --copt=-DFUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION
build:asan-fuzzer --test_env=UBSAN_OPTIONS=print_stacktrace=1