UseColor: true

Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-branch-clone,
    -bugprone-unchecked-optional-access,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    google-*,
    -google-readability-casting,
    -google-explicit-constructor,
    -google-runtime-int,
    performance-*,

HeaderFilterRegex: "donner"

WarningsAsErrors: "*"
