---
BasedOnStyle: Google
AccessModifierOffset: -4
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
FixNamespaceComments: true
SpaceAfterTemplateKeyword: false
ColumnLimit: 100
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
