bazel-*
.vs
compile_commands.json
coverage-report
generated-doxygen
index.scip
*.bloaty.csv
build-binary-size

# The Bzlmod lockfile is platform-dependent with Python and thus hard
# to keep up-to-date in CI. It still speeds up local development.
MODULE.bazel.lock

# VS Code
# See https://www.toptal.com/developers/gitignore/api/visualstudiocode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# macOS
.DS_Store

# Node
node_modules
package-lock.json

# Python
__pycache__
*.pyc

# From examples/svg_to_png.cc
output.png

# For experimental/viewer/svg_viewer.cc
imgui.ini

# Fuzz testing
/fuzz-*.log

# CMake
/build
CMakeLists.txt
