bazel-*
.vs
compile_commands.json
coverage-report
generated-doxygen

# VS Code
# See https://www.toptal.com/developers/gitignore/api/visualstudiocode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# macOS
.DS_Store
