name: Badges

on:
  push:
    branches:
      - main

jobs:
  update-badges:
    name: Update Badges
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install cloc
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/tmp"
          wget https://github.com/AlDanial/cloc/releases/download/v1.92/cloc-1.92.tar.gz -O "${GITHUB_WORKSPACE}/tmp/cloc.tar.gz"
          tar xvfz "${GITHUB_WORKSPACE}/tmp/cloc.tar.gz" -C "${GITHUB_WORKSPACE}/tmp"
          echo "${GITHUB_WORKSPACE}/tmp/cloc-1.92" >> $GITHUB_PATH

      - name: Run cloc
        run: |
          output=$(tools/cloc.sh)
          echo "$output"  # This will print the output to the GitHub Actions log

          # Parse the output and set environment variables
          while IFS=':' read -r key value; do
            key=$(echo "$key" | tr '[:upper:]' '[:lower:]' | tr ' ' '_' | sed 's/^_//g')
            echo "${key}=${value}" >> $GITHUB_ENV
          done <<< "$output"

      - name: Create Lines-of-Code-Badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 91f7f490a72af9c06506c8176729d218
          filename: loc.svg
          label: Lines of code
          message: ${{ env.product_lines_of_code }}
          color: lightgrey

      - name: Create Test-Lines-of-Code-Badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 91f7f490a72af9c06506c8176729d218
          filename: loc-tests.svg
          label: Lines of test code
          message: ${{ env.test_lines_of_code }}
          color: blue

      - name: Create Comments-Badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 91f7f490a72af9c06506c8176729d218
          filename: comments.svg
          label: Comments
          message: ${{ env.comment_percentage }}
          color: green
