name: CMake Build

on:
  push:
    branches: ["*"]
  pull_request:
    branches: [main]

jobs:
  linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Install Clang 18
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-18 lld-18
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-18 100
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-18 100

      - name: Install fontconfig and freetype
        run: |
            sudo apt-get install -y pkg-config libfontconfig1-dev libfreetype6-dev

      - name: Build with CMake
        run: |
          python3 tools/cmake/gen_cmakelists.py
          cmake -S . -B build
          cmake --build build -j$(nproc)

  macos:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - name: Install LLVM 18
        run: |
          brew install llvm@18
          LLVM_PREFIX=$(brew --prefix llvm@18)
          echo "${LLVM_PREFIX}/bin" >> $GITHUB_PATH
          echo "CC=${LLVM_PREFIX}/bin/clang" >> $GITHUB_ENV
          echo "CXX=${LLVM_PREFIX}/bin/clang++" >> $GITHUB_ENV
      - name: Build with CMake
        run: |
          python3 tools/cmake/gen_cmakelists.py
          cmake -S . -B build
          cmake --build build -j$(sysctl -n hw.logicalcpu)
