name: Coverage

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: ["*"]
  pull_request:
    branches: [main]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: "microsoft"

      - name: Cache Bazel
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bazel
          key: ${{ runner.os }}-bazelcov-${{ hashFiles('.bazelversion', '.bazelrc', 'WORKSPACE', 'WORKSPACE.bazel', 'WORKSPACE.bzlmod', 'MODULE.bazel') }}
          restore-keys: |
            ${{ runner.os }}-bazelcov-

      - name: Install Clang dependencies
        run: |
          sudo apt-get install -y libncurses-dev

      - name: Generate coverage
        run: |
          bazelisk coverage \
            --local_test_jobs=1 \
            --nocache_test_results \
            --config=latest_llvm \
            //donner/...

      - name: Filter coverage
        run: |
          python3 tools/filter_coverage.py --input $(bazelisk info output_path)/_coverage/_coverage_report.dat --output ./filtered_report.dat

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./filtered_report.dat
          flags: unittests
          fail_ci_if_error: true
          verbose: true
