name: Release

# Trigger on when a release is created or changed.
on:
  release:
    types: [published, edited]
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Install Clang dependencies
        run: |
          sudo apt-get install -y libncurses-dev

      - name: Cache Bazel
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bazel
          key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'MODULE.bazel') }}
          restore-keys: |
            ${{ runner.os }}-bazel-

      - name: Build Binaries
        run: |
          mkdir release
          bazelisk build -c opt //examples:svg_to_png
          cp bazel-bin/examples/svg_to_png release/svg_to_png_linux_x86_64

      - name: Upload the Binaries
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: ./release/svg_to_png_linux_x86_64

  macos:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6

      - name: Cache Bazel
        uses: actions/cache@v4
        with:
          path: |
            /private/var/tmp/_bazel_runner/
          key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'MODULE.bazel') }}
          restore-keys: |
            ${{ runner.os }}-bazel-

      - name: Build Binaries
        run: |
          mkdir release
          bazelisk build -c opt //examples:svg_to_png
          cp bazel-bin/examples/svg_to_png release/svg_to_png_darwin_arm64

      - name: Upload the Binaries
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: ./release/svg_to_png_darwin_arm64
